<%= stylesheet_link_tag 'notes_index' %>

<main>
  <%= render 'shared/aside' %>

  <section class="notes">
    <div class="wrapper_notes">
      <header>
        <div class="search_elements">
          <i class="fa fa-search"></i>
          <input type="text" name="" id="" placeholder="Search Notes">
        </div>
        <%= image_tag 'icons/DarkMode.svg'%>
      </header>
      <div class="salutation_user">
        <p>Hello, <b>Fulano!</b>👋🏼</p>
        <span>All your notes are here, in one place!</span>
      </div>
      <div class="all_notes">
        <i>In this local is the cards</i>
      </div>
    </div>
  </section>

</main>