<%= stylesheet_link_tag 'aside' %>

<aside>
  <div class="wrapper_menu">
    <%= image_tag 'icons/Logo.svg', id: 'logo'%>
    <div class="container_icons">
      <div class="icon">
        <%= image_tag 'icons/home.svg' %>
      </div>
      <div class="icon">
        <%= image_tag 'icons/Reanking.svg'%>
      </div>
    </div>
    <%= image_tag 'icons/Logout.svg', ig: 'logout'%>
  </div>
</aside>