<aside class="flex flex-col w-1/12 h-screen bg-gray-300 justify-between items-center shadown-lg" >
  <div class="w-7 h-7 bg-gray-800"></div>
  <div class="w-7 h-7 bg-gray-800"></div>
  <div class="w-7 h-7 bg-gray-800"></div>
</aside>