<div class="w-2/12 h-2/6 p-6 bg-opaque-light-cyan rounded-lg flex flex-col justify-between drop-shadow-md">
  <textarea placeholder="Type your note..." class="w-full h-full border-none bg-opaque-light-cyan focus:outline-none focus:ring-0 resize-none"></textarea>
  <p class="text-sm">Feb, 10 2025</p>
</div>