<div class="w-full flex flex-col items-center">
  <h1 class="font-ubuntu font-normal text-6xl text-indigo-500 color-rose">Your Awesome Site</h1>
  <p>The app to solve your problems! Built with Ruby on Rails</p>
</div>