/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

:root{
  /* Primary Colors */
  --rose: #FDBAA3;
  --white: #FFFFFF;
  --midnight: #3C3D43;
  --cream-white: #FFFDFA;
  /* Semantic Colors */
  --semantic-red: #F7685C;
  --semantic-green: #30C58D;
  /* Post Colors */
  --opaque-light-yelow: rgba(251, 235, 149, 0.4);
  --opaque-red-orange: rgba(253, 186, 163, 0.4);
  --opaque-lilac: rgba(182, 165, 203, 0.4);
  --opaque-green-cyan: rgba(151, 210, 188, 0.6);
  --opaque-light-cyan: rgba(174, 223, 232, 0.6);
  /* Gray colors */
  --gray-900: #000000;
  --gray-800: #343539;
  --gray-600: #4D4D4D;
  --gray-400: #808080;
  --gray-300: #8C8A97;

}