aside {
  width: 5vw;
  height: 100vh;
  background: var(--cream-white);
  position: relative;
  -webkit-box-shadow: 0px 0px 80px -40px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 80px -40px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 80px -40px rgba(0,0,0,0.75);
}

.wrapper_menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.wrapper_menu #logo {
  width: 50%;
}

.container_icons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.container_icons .icon{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: .5rem 0;
}

.container_icons .icon:hover{
  background: black;
  cursor: pointer;
}