main {
  display: flex;
}

main .notes {
  width: 95vw;
  height: 100vh;
  background: var(--white);
  display: flex;
  justify-content: center;
}

main .notes .wrapper_notes{
  width: 80%;
}

main .notes .wrapper_notes header {
  display: flex;
  width: 100%;
}

main .notes .wrapper_notes header .search_elements {
  width: inherit;
  padding-top: 2rem;
}

main .notes .wrapper_notes header .search_elements input {
  border: none;
  padding: 0.5rem 1rem;
  width: 50%;
}

main .notes .wrapper_notes header .search_elements i {
  color: var(--gray-400)
}

main .notes .wrapper_notes .salutation_user {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

main .notes .wrapper_notes .salutation_user p {
  font-size: 2rem;
}

main .notes .wrapper_notes .salutation_user span {
  font-size: 1.1rem;
}

main .notes .wrapper_notes .all_notes {
  padding-top: 2rem;
}